/* Add this to your existing CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-image: radial-gradient(blue, black, aqua);
    color: #000000;
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-image: radial-gradient(blue,black, blue);
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(194, 194, 194);
}

.code-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.output {
    margin-top: 20px;
}

iframe {
    border: 1px solid #ccc;
    width: 100%;
    height: 300px;
}

#styledPreview {
    background-color: rgb(194, 194, 194);
}



.w3-bar-item {
    display: inline;
    color: pink;
    font-size: 25px;
    margin: 0 10px;
  
  }





  .w3-button {
    color: black;
  
  }

  .w3-button:hover {
    color: rgb(255, 255, 255);
  }

  .w3-black {
    background-image: radial-gradient(rgb(0, 0, 0) 5%,
        rgb(18, 2, 161) 10%,
        black 80%);
    text-align: center;
    position: fixed;
    width: 100%;
  }