body {
    background-color:darkred;
}

.w3-bar-item {
    display: inline;
    color: pink;
    font-size: 25px;
    margin: 0 10px;
  
  }

  .w3-button {
    color: black;
  
  }

  .w3-button:hover {
    color: white;
  }

  .w3-black {
    background-image: radial-gradient(yellow 5%,
        pink 10%,
        black 80%);
    text-align: center;
    position: fixed;
    width: 100%;
  }
